.main
  .sample
    %p
      %h4 welcome. @/
      %a{:href=>'/'}
    .win-a-car-pt
      win-a-car-pt
      %p
        %a{:href=>'/win_a_car'}
          win a car, maybe
    .hi-link-pt
      %h4 hi-link-pt
      %p
        %a{:href=>'/hi'}
          hi
    .comments-section.nope
      %h3 comments
      %ol
        %li
          %a{:href=>'/won'}
            win a car, maybe
        %li
          %a{:href=>'/lost'}
            win a car, maybe

